#Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual enviroment
venv/
env/
ENV/

#Application data 
tasks.json

#IDE settings
.vscode/
.idea/

#os specific files
.DS_Store
Thumbs.dv
